<div class="landingPage"> </div>

<form action="/signup" method="post" style="border:1px solid #ccc">
  <div class="container signup-box">
    <h1 style="color:white">SIGN UP BELOW</h1>
    <b><p style="color:WHITE">* Please fill in this form to create an account</p></b>

   <label for="username"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="username" required> <br>

    <label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" required> <br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" required><br>


    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

       <b><p style="color:WHITE">* By creating an account you agree to our <a href="#" style="color:black">Terms of Privacy</a></p></b>

    <div class="clearfix">
     <button type="button" class="cancelbtn"><b>Cancel</b></button>
     <button type="submit" class="signupbtn"><b>Sign Up</b></button>
    </div>
  </div>
</form>